.Header {

    height: 48vh;
}

.card-body .btn {
    transition: transform 0.3s ease;
}

.card-body .btn:hover {
    transform: scale(0.8);
}

.card-img,
.card-img-top {

    transition: all 0.3s ease;
}

.card-img,
.card-img-top:hover {
    transform: scale(1.1);
}