.account {
    cursor: pointer;
}

.side_login {
    text-decoration: none;
    color: white;
}

.side_login:hover {
    color: #eee;
}

.allCategores {
    font-size: 18px;
    font-weight: 500;

}

.list_categores {
    list-style: none;
    padding: 0;

}

.list_categores li {
    font-size: 16px;
    font-weight: 400;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
    width: 251px;
}